.formContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 40px;
}

.inputLine {
  display: flex;
  gap: 8px;
}

.errorMessage {
  color: red;
}

.inputWrapper {
  max-width: 200px;
}
